# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
*.env

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Secrets
*.pem
*.key
config/settings_local.py

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
